app-modal{
    margin-top: 60px;
    margin-left: 70px;

}
button {
    margin-top: 60px;
    margin-left: 70px;

}
h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif
}


  mat-form-field{
    width: 270px;
    
    padding: 20px;
    

}

nz-date-picker{
    width: 220px;
    height: 40px;
    
    padding: 20px;

}
