.table {
    display: table;
    width: 100%;
    font-size: smaller;
    position: sticky;
    top: 0;



  }
  
  .tableCell {
    display: table-cell;
    max-width: 0px;
  }
  .tableContainer {
    height: 400px;
    overflow: scroll;
}
