<div class="col-md-6 offset-md-3">
    <h3> Modifier Demande </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Num Demande</label>
            <input type="text" class ="form-control" id = "numDemande"
                [(ngModel)] = "demande.numDemande" name = "numDemande">
        </div>
    
        <div class="form-group">
            <label> Besoin</label>
            <input type="text" class ="form-control" id = "besoin"
                [(ngModel)] = "demande.besoin" name = "besoin">
        </div>
        
        <div class="form-group">
            <label> Montant </label>
            <input type="text" class ="form-control" id = "montant"
                [(ngModel)] = "demande.montant" name = "montant">
        </div>

        <div class="form-group">
            <label> Duree</label>
            <input type="text" class ="form-control" id = "duree"
                [(ngModel)] = "demande.duree" name = "duree">
        </div>
        
        <div class="form-group">
            <label> Annuité maximale</label>
            <input type="text" class ="form-control" id = "annuiteMaximale"
                [(ngModel)] = "demande.annuiteMaximale" name = "annuiteMaximale">
        </div>

        <div class="form-group">
            <label for="name">client:</label>
            <input type="text" class="form-control" id="client" name="client" ngModel required>
        </div>
        

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
