<h3 style="color:#c78c15;"> View demande details</h3>
<div>
    <div>
        <label> <b> Num demande: </b></label> {{demande.numDemande}}
    </div>
    <div>
        <label> <b> Client: </b></label> {{demande.client.prenom}}
    </div>
    <div>
        <label> <b> Besoin: </b></label> {{demande.besoin}}
    </div>
    <div>
        <label> <b> Montant: </b></label> {{demande.montant}}
    </div>
    <div>
        <label> <b> Duree: </b></label> {{demande.duree}}
    </div>
    <div>
        <label> <b> Annuite maximale: </b></label> {{demande.annuiteMaximale}}
    </div>
    <!--<div>
        <label> <b> user: </b></label> {{rdv.user.firstName}}
    </div>-->
</div>
