<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control form-control-user"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username
          />
          <div class="alert-danger" *ngIf="username.oninvalid && f.submitted">
            <div *ngIf="username.required">Username is required</div>
            <div *ngIf="username.minLength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.maxLength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control form-control-user"
            name="firstName"
            [(ngModel)]="form.firstName"
            #firstName="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control form-control-user"
            name="lastName"
            [(ngModel)]="form.lastName"
            #lastName="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="number"
            class="form-control form-control-user"
            name="phone"
            [(ngModel)]="form.phone"
            #phone="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control form-control-user"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email
          />
          <div class="alert-danger" *ngIf="email.oninvalid && f.submitted">
            <div *ngIf="email.required">Email is required</div>
            <div *ngIf="email.oninvalid">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="adress">Adress</label>
          <input
            type="text"
            class="form-control form-control-user"
            name="adress"
            [(ngModel)]="form.adress"
            #adress="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control form-control-user"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password
          />
          <div class="alert-danger" *ngIf="password.oninvalid && f.submitted">
            <div *ngIf="password.required">Password is required</div>
            <div *ngIf="password.minLength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
  
